[submodule "mcHahnAPI"]
	path = mcHahnAPI
	url = https://github.com/MarcosCM2000/mcHahnAPI.git
[submodule "mcHannFrontApp"]
	path = mcHannFrontApp
	url = https://github.com/MarcosCM2000/mcHannFrontApp.git
